.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: rgb(210, 233, 252);
}

.textNav ul li a{
    color: white;
}

.textNav ul li a:hover{
    color: rgb(210, 233, 252);
}

.fa-bars{
    color: white;
}

.fa-bars:hover{
    color: rgb(210, 233, 252);
}

